<% unless measure_set.new_record? %>
<div class="measure-item">
  <p>
    <strong><%= measure_set.title %></strong> 
    <% if @deal.editable_by?(current_user) %>
      <%= link_to "Edit", edit_deal_measure_set_path(@deal, measure_set) %>
    <% end %>
  </p>
  <ul>
    <%= render measure_set.measures %>
  </ul>
</div>
<% end %>
