table, img { border:0; }
table { border-collapse:collapse; }
table td { padding:0px; vertical-align:top; }
:focus { outline:none; }
label { cursor:pointer; }
* { margin:0; padding:0; }

html {
    height:100%;
    font-size: 75%;
    }

body {
    margin:0;
    padding:0;  
    height:100%;
    font-size:100.01%;
    font-family:Verdana,Arial,sens-serif;  
    position:relative;
    *text-align:center;
} 

p {
    font-size:0.8em;
    }
    
a { color:#633; font-weight:bold; text-decoration:underline; }
a:hover { text-decoration:none; }

#top-menu {
      overflow:hidden;
      }
      #top-menu ul { float:right; padding:1em 2em 0 0; }
      #top-menu ul li { list-style:none; float:left; margin-left:1em; font-weight:bold; }
      #top-menu ul li a {
	border-left:2px solid #000;
	padding-left:1em;
	font-size:1em;
	color:#000; }
      #top-menu ul li.first a { border:0; }
      
#container {
    width:90em;
    margin:0 auto;
    overflow:hidden;
    *text-align:left;
    }

#header {
    overflow:hidden;
    }
    .logo {
        width:45em;
        }
        .logo a {
            text-decoration:none;
            color:#000;
        }
        .logo img {
            border:0;
            float:left;
            margin-right:1em;
	    padding:4em 0 1em;
            }
      
#wrap {}

  #navigation {
      width:65em;
      padding:0 1em 0 0;
      float:left;
      overflow:hidden;
      }
      #navigation ul {
	  margin:0.5em 0;
	  width:48em;
	  }
	  #navigation ul li {
	      float:left;
	      list-style:none;
	      background:#c99;
	      margin-right:0.3em;
	      -moz-border-radius-topleft:5px;
	      -moz-border-radius-topright:5px;
	      -webkit-border-top-left-radius:5px;
	      -webkit-border-top-right-radius:5px;
	      }
	      #navigation ul li a {
		  padding:0.8em 1.8em;
		  display:block;
		  font-weight:bold;
		  color:#000;
		  font-size:1em;
		  font-size:1.1em;
		  height:16px;
		  }
		  #navigation ul li a:hover {
		      background:#e99;
		      -moz-border-radius-topleft:5px;
		      -moz-border-radius-topright:5px;
		      -webkit-border-top-left-radius:5px;
		      -webkit-border-top-right-radius:5px;
		      outline:0;
		  }
	    #navigation ul li.current {
		background:#999;
		padding:0.8em 2em;
		  display:block;
		  font-weight:bold;
		  text-decoration:none;
		  color:#333;
		  font-size:1em;
		  font-size:1.1em;
		  color:#fff;
	        }

    #content {
        float:left;
        width:60em;
        padding:1em 0 2em;
	margin:0 1em 0 0;
	background:#999;
	border-bottom:2px solid #666;
        }
	#content.join { margin-bottom:5em; }
	#content.home,
	#content.dashboard { width:100%; }
	#content table.board {
	  width:95.4em;
	  font-size:0.9em;
	  margin:1em 2.5em;
	  }
	  #content table.board thead { background:#d99; color:#fff; }
	      #content table.board thead th { padding:0.5em; font-size:1.2em; text-align:left; }
		  #content table.board thead th.date { width:5em; }
		  #content table.board thead th.measures { width:7em; }
		  #content table.board thead th.comments { width:8em; }
	  #content table.board tr.first { background:#aaa; }
	  #content table.board tr.second { background:#888; }
	      #content table.board tr td { padding:0.5em; color:#333; font-style:italic; }
	      #content table.board tr td h2 { font-size:1.2em; font-style:normal; }
	      #content table.board tr td p { font-size:1em; color:#000; font-style:normal; }
	      #content table.board tr td  a { font-style:normal; }
	  #content div.form {
	    padding:1em 2.5em;
	    }
	    #content div.form h2 { margin-bottom:1em; font-family:Trebuchet MS; font-size:2em; }
	    #content div.form fieldset { padding:3em 1em 2.5em 2em; background:#888; border:2px solid #888; margin:0 0 1em; }
		#content div.form fieldset.submit-area { background:none; border:0; padding:0; }
	    #content div.form label {
	      display:block;
	      float:left;
	      width:145px;
	      font-size:1em;
	      font-weight:bold;
	      }
	      #content div.form.short  label { width:90px; padding-left:10px; }
	      #content div.form div.check label { float:none; width:auto; margin-top:0.2em; font-weight:normal; font-size:1em; }
	    #content div.form input { margin-bottom:1em; padding:4px; margin-right:0.5em; border:1px solid #888; }
		#content div.form input.submit { width:auto; margin:2em 0 0; border:2px solid #d99; font-size:1.2em; }
		#content div.form div.check input { float:left; width:auto; margin:0 0.5em 0 100px; border:0; }
		
	    #content div.form span.required { color:#c00; font-weight:bold; }
	    #content div.form p { font-size:1em; margin-bottom:1em; }
	    
	    #content div.form.new-deal {}
		#content div.form.new-deal label { float: none; padding:0 0 0.5em; }
	      	#content div.form.new-deal textarea { width:955px; height:18em; border:1px solid #999; padding:4px; }	
		#content div.form.form.new-deal div.check input { margin:15px 0 0 0; }
		#content div.form.form.new-deal div.check label { display:block; float:right; text-align:left; width:965px; margin:14px 0 0; }
		#content div.form.form.new-deal input.new-deal-title { width:955px; font-weight:bold; font-size:1.2em; }
		
	    #content.dashboard div.form p { margin-bottom:1em; }
		#content.dashboard div.form p em.title { font-style:normal; font-size:1em; }
		    #content.dashboard div.form p em.title a { color:#000; }
		    #content.dashboard div.form p span.added { font-style:italic; color:#333; }

    #sidebar {
        float:left;
        width:25em;
        margin-bottom:2em;
        }
	#sidebar h3 {
	  margin:1em 0 0.5em;
	  font-family:Trebuchet MS;
	  font-size:2em;
	}
	#sidebar p { margin-bottom:2em; font-size:0.95em; line-height:1.3em; }
	#sidebar a { font-size:1.2em; }

#footer {
    float:left;
    width:100%;
    overflow:hidden;
    background:#c99;
    color:#000;
    border-top:2px solid #999;
    margin:2em 0 0;
    }
    #footer .logo { float:right; width:21em; padding:0.5em 0; }
	#footer .logo img { height:2.6em; padding:0; }
	#footer p.copy {
        padding:0.2em 0.5em;
        font-size:0.8em;
        }
    #footer .validator { padding:1.5em 0 0 1em; float:left; width:20em; }
    
#content div.form .errorExplanation { margin-bottom:1em; }
#content div.form.new-deal .errorExplanation { margin-bottom:3em; }
#content div.form .errorExplanation h2 { display:none; }
#content div.form .errorExplanation p { font-size:1em; margin-bottom:0.5em; }
#content div.form .errorExplanation ul li { list-style:disc inside; }

#content div.form .fieldWithErrors { display:inline; }
#content div.form .fieldWithErrors label { font-weight:bold; color:#c00; }
#content div.form .fieldWithErrors input { border:1px solid #c33; }

div.notice { background:#696; float:left; position:absolute; top:1em; left:1em; padding:1em; color:#fff; font-weight:bold; }