table, img { border:0; }
table { border-collapse:collapse; }
table td { padding:0px; vertical-align:top; }
:focus { outline:none; }
label { cursor:pointer; }
* { margin:0; padding:0; }

html {
    height:100%;
    font-size: 75%;
    }

body {
    margin:0;
    padding:0;  
    height:100%;
    font-size:100.01%;
    font-family:Verdana,Arial,sens-serif;  
    position:relative;
    *text-align:center;
} 

p {
    font-size:0.8em;
    }

#container {
    width:85em;
    margin:0 auto;
    overflow:hidden;
    *text-align:left;
    }

#header {
    overflow:hidden;
    }
    .logo {
        padding-bottom:1em;
        width:45em;
        }
        .logo a {
            text-decoration:none;
            color:#000;
        }
        .logo img {
            border:0;
            float:left;
            margin-right:1em;
	    padding:3em 0 1em;
            }
    #top-menu {
      float:right;
      }
      #top-menu ul {}
      #top-menu ul li { list-style:none; float:left; margin-left:1em; }
      #top-menu ul li a {
	border-left:2px solid #000;
	padding-left:1em;
	font-weight:bold;
	font-size:1em;
	color:#000; }
      #top-menu ul li.first a { border:0; }
      
#wrap {}

  #navigation {
      width:65em;
      padding:0 1em 0 0;
      float:left;
      overflow:hidden;
      }
      #navigation ul {
	  margin:0.5em 0;
	  width:48em;
	  }
	  #navigation ul li {
	      float:left;
	      list-style:none;
	      background:#eee;
	      margin-right:0.1em;
	      }
	      #navigation ul li a {
		  padding:0.5em 2.5em;
		  display:block;
		  font-weight:bold;
		  text-decoration:none;
		  color:#333;
		  font-size:1em;
		  }
		  #navigation ul li a:hover {
		      background:#fff;
		      text-decoration:underline;
		      outline:0;
		  }

    #content {
        float:left;
        width:65em;
        padding:1em 1em 2em 0;
        }
        #content .main-content { margin-bottom:2em; }
        #content h2 { 
            padding-bottom:0.5em; 
            }
        #content h3 { 
            padding-bottom:0.5em; 
            }
        #content p { 
            margin-bottom:0.5em; 
            font-size:0.8em;    
            }

    #sidebar {
        float:right;
        width:19em;
        margin-bottom:2em;
    }

#footer {
    float:left;
    width:100%;
    overflow:hidden;
    background:#eee;
    color:#000;
    border-top:2px solid #ddd;
    }
    #footer .logo { float:right; width:21em; padding:0.5em 0; }
	#footer .logo img { height:2.6em; padding:0; }
	#footer p.copy {
        padding:0.2em 0.5em;
        font-size:0.8em;
        }
    #footer .validator { padding:1.5em 0 0 1em; float:left; width:20em; }