<%= render 'home/tabs' %>
    <div class="join">
        <div class="form">
            <h2>Want to Become a Member? Join us now!</h2>
            <% form_for @user do |form| %>
              <%= render :partial => '/users/form', :object => form %>
              <%= form.submit 'Sign up', :disable_with => 'Please wait...', :class => 'submit' %>
            <% end %>
        </div>
    </div>
</div>
<div id="sidebar">
  <h3>That's it!</h3>
  <p>Yep, this is all the info we need to set you up. Once you're done activating your account it's a good idea to go in and edit your profile with some stuff about yourself for other members to get to know you.</p>
  <p>* Your email address is safe with us! We keep it completely private. </p>
  
  <h3>Already a member?</h3>
  <p><a href="/session/new">Click here to login</a></p>
</div>
