	    <div id="navigation">
		<ul>
		    <li class="current">View All Deals</li>
                <% if current_user %>
                    <li><a href="/deals">My Deals</a></li>
                <% else %>
                    <li><a href="/session/new">Join Us</a></li>
                <% end %>
		</ul>
	    </div>
            <div id="content">