<% title 'Home' %>
                <div class="main-content">
                    <%- if show_title? -%>
                      <!--<h2><%=h yield(:title) %></h2>-->
                    <%- end -%>
                    <p>SustainableCommunities.com is a user generated portal of sustainability information.</p>
                    <p>Sustainable Communities are the result of the intelligent redesign of spaces, products and processes with the goal of eliminating environmental impact, improving quality of life, and generating favorable economic returns. SustainableCommunities.com tracks the progress of these communities and the leaders of the sustainability movement.</p>
                </div>
                <div class="board">
                    <div class="item">
                        <a href="#">
                          <img src="/images/thumb-1.jpg" alt="" />
                        </a>
			<h3><a href="#">Sunward Cohousing</a></h3>
			<p><a href="#">Michigan Sustainable Communities</a></p>
                    </div>
		    <div class="item">
                        <a href="#">
                          <img src="/images/thumb-2.jpg" alt="" />
                        </a>
                      	<h3><a href="#">Hopewell Community</a></h3>
			<p><a href="#">Kentucky Sustainable Communities</a></p>
                    </div>
		    <div class="item">
                        <a href="#">
                          <img src="/images/thumb-3.jpg" alt="" />
                        </a>
			<h3><a href="#">East Lake Commons</a></h3>
			<p><a href="#">Georgia Sustainable Communities</a></p>
                    </div>
		    <div class="item">
                        <a href="#">
                          <img src="/images/thumb-4.jpg" alt="" />
                        </a>
			<h3><a href="#">Eco Farm</a></h3>
			<p><a href="#">Florida Sustainable Communities</a></p>
                    </div>
		    <div class="item">
                        <a href="#">
                          <img src="/images/thumb-5.jpg" alt="" />
                        </a>
			<h3><a href="#">Hearthstone Cohousing</a></h3>
			<p><a href="#">Colorado Sustainable Communities</a></p>
                    </div>
		    <div class="item">
                        <a href="#">
                          <img src="/images/thumb-6.jpg" alt="" />
                        </a>
			<h3><a href="#">EarthArt Village</a></h3>
			<p><a href="#">Colorado Sustainable Communities</a></p>
                    </div>
		    <div class="item">
                        <a href="#">
                          <img src="/images/thumb-7.jpg" alt="" />
                        </a>
			<h3><a href="#">San Mateo Ecovillage</a></h3>
			<p><a href="#">California Sustainable Communities</a></p>
                    </div>
		    <div class="item">
                        <a href="#">
                          <img src="/images/thumb-8.gif" alt="" />
                        </a>
			<h3><a href="#">Tierra Nueva Cohousing</a></h3>
			<p><a href="#">California Sustainable Communities</a></p>
                    </div>
		    <div class="item">
                        <a href="#">
                          <img src="/images/thumb-9.gif" alt="" />
                        </a>
			<h3><a href="#">Northwestern University</a></h3>
			<p><a href="#">Illinois Sustainable University Programs</a></p>
                    </div>
		    <div class="item">
                        <a href="#">
                          <img src="/images/thumb-10.jpg" alt="" />
                        </a>
			<h3><a href="#">Los Angeles Ecovillage</a></h3>
			<p><a href="#">California Sustainable Communities</a></p>
                    </div>
                    <div class="item">
                        <a href="#">
                          <img src="/images/thumb-1.jpg" alt="" />
                        </a>
			<h3><a href="#">Sunward Cohousing</a></h3>
			<p><a href="#">Michigan Sustainable Communities</a></p>
                    </div>
		    <div class="item">
                        <a href="#">
                          <img src="/images/thumb-2.jpg" alt="" />
                        </a>
                      	<h3><a href="#">Hopewell Community</a></h3>
			<p><a href="#">Kentucky Sustainable Communities</a></p>
                    </div>
		    <div class="item">
                        <a href="#">
                          <img src="/images/thumb-3.jpg" alt="" />
                        </a>
			<h3><a href="#">East Lake Commons</a></h3>
			<p><a href="#">Georgia Sustainable Communities</a></p>
                    </div>
		    <div class="item">
                        <a href="#">
                          <img src="/images/thumb-4.jpg" alt="" />
                        </a>
			<h3><a href="#">Eco Farm</a></h3>
			<p><a href="#">Florida Sustainable Communities</a></p>
                    </div>
		    <div class="item">
                        <a href="#">
                          <img src="/images/thumb-5.jpg" alt="" />
                        </a>
			<h3><a href="#">Hearthstone Cohousing</a></h3>
			<p><a href="#">Colorado Sustainable Communities</a></p>
                    </div>
		    <div class="item">
		      <a href="#">
                        <img src="/images/thumb-6.jpg" alt="" />
                      </a>
			<h3><a href="#">EarthArt Village</a></h3>
			<p><a href="#">Colorado Sustainable Communities</a></p>
                    </div>
		    <div class="item">
                        <a href="#">
                          <img src="/images/thumb-7.jpg" alt="" />
                        </a>
			<h3><a href="#">San Mateo Ecovillage</a></h3>
			<p><a href="#">California Sustainable Communities</a></p>
                    </div>
		    <div class="item">
                        <a href="#">
                          <img src="/images/thumb-8.gif" alt="" />
                        </a>
			<h3><a href="#">Tierra Nueva Cohousing</a></h3>
			<p><a href="#">California Sustainable Communities</a></p>
                    </div>
		    <div class="item">
                        <a href="#">
                          <img src="/images/thumb-9.gif" alt="" />
                        </a>
			<h3><a href="#">Northwestern University</a></h3>
			<p><a href="#">Illinois Sustainable University Programs</a></p>
                    </div>
		    <div class="item">
                        <a href="#">
                          <img src="/images/thumb-10.jpg" alt="" />
                        </a>
			<h3><a href="#">Los Angeles Ecovillage</a></h3>
			<p><a href="#">California Sustainable Communities</a></p>
                    </div>
                </div>