<% title 'Home' %>
<%= render 'home/tabs' %>
              <div class="home">
                  <div class="main-content">
                      <%- if show_title? -%>
                        <!--<h2><%=h yield(:title) %></h2>-->
                      <%- end -%>
                      <p></p>
                  </div>
                  <table class="board" border="0" cellpadding="0" cellspacing="0">
                      <thead>
                        <tr>
                          <th class="deal">Deal</th>
                          <th class="comments">Comments</th>
                          <th class="date">Update</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="first">
                          <td>
                            <h2><a href="#">Lorem ipsum dolor sit amet</a></h2>
                          <td>
                            <p><a href="#">5</a>, last by: <a href="#">Anton</a></p>
                          </td>
                          <td>Tue, 27 Oct at 7:20pm</td>
                        </tr>
                        <tr class="second">
                          <td>
                            <h2><a href="#">Nam condimentum eros sed augue elementum lacinia</a></h2>
                          <td>
                              <p><a href="#">5</a>, last by: <a href="#">Anton</a></p>          
                          </td>
                          <td>Tue, 27 Oct at 5:00pm</td>
                        </tr>
                        <tr class="first">
                          <td>
                            <h2><a href="#">Vestibulum non velit in nunc placerat rutrum</a></h2>
                          <td>
                              <p><a href="#">5</a>, last by: <a href="#">Anton</a></p>
                          </td>
                          <td>Tue, 27 Oct at 4:40pm</td>
                        </tr>
                        <tr class="second">
                          <td>
                            <h2><a href="#">Nam tincidunt condimentum ante et adipiscing</a></h2>
                          <td>
                              <p><a href="#">5</a>, last by: <a href="#">Anton</a></p>  
                          </td>
                          <td>Tue, 27 Oct at 3:45pm</td>
                        </tr>
                        <tr class="first">
                          <td>
                            <h2><a href="#">Class aptent taciti sociosqu ad litora torquent per conubia nostra</a></h2>
                          <td>
                              <p><a href="#">5</a>, last by: <a href="#">Anton</a></p>
                          </td>
                          <td>Tue, 27 Oct at 13:00pm</td>
                        </tr>
                        <tr class="second">
                          <td>
                            <h2><a href="#">Sed posuere mauris eget mauris pharetra sodales</a></h2>
                          <td>
                              <p><a href="#">5</a>, last by: <a href="#">Anton</a></p>
                          </td>
                          <td>Tue, 27 Oct at 9:30am</td>
                        </tr>
                      </tbody>
                  </table>
              </div>
          </div>