<% title 'Home' %>
                <div class="main-content">
                    <%- if show_title? -%>
                      <!--<h2><%=h yield(:title) %></h2>-->
                    <%- end -%>
                    <p></p>
                </div>
                <div class="board">
                    <div class="item">
                    </div>
                </div>