<% title 'Home' %>
                <div class="main-content">
                    <%- if show_title? -%>
                      <!--<h2><%=h yield(:title) %></h2>-->
                    <%- end -%>
                    <p></p>
                </div>
                <table class="board" border="0" cellpadding="0" cellspacing="0">
                    <thead>
                      <tr>
                        <th class="date">Posted</th>
                        <th class="description">Description</th>
                        <th class="measures">Measures</th>
                        <th class="comments">Comments</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="first">
                        <td>Tue, 27 Oct at 7:20pm</td>
                        <td>
                          <h2><a href="#">Lorem ipsum dolor sit amet</a></h2>
                          <p>Consectetur adipiscing elit. Quisque velit velit, volutpat sit amet tempor sit amet, iaculis vitae felis. Vivamus id massa et eros euismod interdum vel in mauris. Integer lacinia, nibh a euismod luctus, nulla dui cursus metus, vel scelerisque enim tortor viverra turpis. Aenean vel sapien tortor, eget hendrerit tortor. Aliquam scelerisque ligula tincidunt lorem mollis auctor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus a nisl risus. Nunc pellentesque, nibh ut tristique sagittis, ipsum turpis varius nisi, a bibendum augue sapien vel ipsum. Integer dapibus elit in eros vulputate vitae vulputate nisl fringilla. Sed lacinia sagittis quam, vel mollis nisl accumsan eu. Nulla pulvinar felis eu lorem interdum mattis. Sed nec dolor lorem.</p></td>
                        <td><a href="#">Dolor</a></td>
                        <td>
                          <p><strong>Total: </strong>5</p>
                          <p><strong>Last by: </strong><a href="#">Anton</a></p>
                        </td>
                      </tr>
                      <tr class="second">
                        <td>Tue, 27 Oct at 5:00pm</td>
                        <td>
                          <h2><a href="#">Nam condimentum eros sed augue elementum lacinia</a></h2>
                          <p>Sed iaculis eleifend felis non vehicula. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras purus mauris, aliquet at porttitor eu, auctor vel sapien. Proin sagittis viverra ligula, et congue nisl commodo vitae. Maecenas egestas quam vitae elit adipiscing vestibulum. Suspendisse ac velit non magna sagittis tincidunt id nec erat. Aliquam erat volutpat. Pellentesque non erat neque. Duis accumsan metus nisi, vitae luctus urna. Donec vulputate dui at eros tincidunt vel faucibus est euismod. Sed tempus porta dolor interdum bibendum. Vestibulum vel augue et nulla dignissim dignissim non tincidunt tortor. Nulla viverra rhoncus lobortis. </p></td>
                        <td><a href="#">Lorem</a></td>
                        <td>
                          <p><strong>Total: </strong>5</p>
                          <p><strong>Last by: </strong><a href="#">Anton</a></p>
                        </td>
                      </tr>
                      <tr class="first">
                        <td>Tue, 27 Oct at 4:40pm</td>
                        <td>
                          <h2><a href="#">Vestibulum non velit in nunc placerat rutrum</a></h2>
                          <p>Curabitur et sapien vitae elit eleifend tristique. Suspendisse mattis, mauris a elementum euismod, elit sem luctus arcu, pharetra aliquam eros odio ut nibh. In vehicula luctus purus a pretium. Phasellus auctor pellentesque condimentum. Curabitur ultrices elit et metus sagittis facilisis. Maecenas elit sem, aliquet ac vehicula nec, dapibus non est. Sed dapibus ante sed velit posuere euismod. Sed eu hendrerit nibh. Morbi in nisl velit. Mauris commodo tristique neque, vitae dictum nisi fringilla nec. Nullam non velit sagittis nibh pretium consectetur vitae ut tellus. Proin aliquam commodo lacinia. Nullam euismod ipsum sit amet urna aliquet ullamcorper. Sed et sem metus. Aliquam convallis augue ut diam faucibus lobortis.</p></td>
                        <td><a href="#">Lorem</a></td>
                        <td>
                          <p><strong>Total: </strong>5</p>
                          <p><strong>Last by: </strong><a href="#">Anton</a></p>
                        </td>
                      </tr>
                      <tr class="second">
                        <td>Tue, 27 Oct at 3:45pm</td>
                        <td>
                          <h2><a href="#">Nam tincidunt condimentum ante et adipiscing</a></h2>
                          <p>Proin sit amet ultricies tortor. Phasellus nibh dolor, viverra sed tristique vel, tincidunt quis urna. Ut in velit lorem. Mauris rhoncus neque vitae lacus laoreet nec elementum nulla facilisis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam erat volutpat. Proin vel feugiat risus. Integer volutpat consectetur leo, sit amet malesuada erat hendrerit lobortis. Suspendisse lacus tellus, elementum a pellentesque id, gravida ac erat. Cras facilisis tempus eros ac dignissim. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam nulla orci, vehicula eget fermentum a, condimentum quis velit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse ac tortor vitae ligula posuere egestas quis id felis. Vivamus iaculis quam nec tortor elementum at interdum eros fermentum.</p></td>
                        <td><a href="#">Ipsum Sit</a></td>
                        <td>
                          <p><strong>Total: </strong>5</p>
                          <p><strong>Last by: </strong><a href="#">Anton</a></p>
                        </td>
                      </tr>
                      <tr class="first">
                        <td>Tue, 27 Oct at 13:00pm</td>
                        <td>
                          <h2><a href="#">Class aptent taciti sociosqu ad litora torquent per conubia nostra</a></h2>
                          <p>Per inceptos himenaeos. Ut vitae lacus libero. In commodo, augue eget tempus placerat, neque tellus bibendum arcu, in vestibulum dui enim egestas ante. Aliquam eget libero velit. Donec quis libero in leo pulvinar convallis quis sed neque. Pellentesque a elementum libero. Aenean lacinia, justo gravida accumsan interdum, augue lectus accumsan sem, et suscipit libero urna vel risus. Nullam mattis dapibus nunc ac accumsan. Ut placerat mi et sem ullamcorper interdum in ac mauris. Mauris accumsan arcu at purus tristique mattis.</p></td>
                        <td><a href="#">Nam</a></td>
                        <td>
                          <p><strong>Total: </strong>5</p>
                          <p><strong>Last by: </strong><a href="#">Anton</a></p>
                        </td>
                      </tr>
                      <tr class="second">
                        <td>Tue, 27 Oct at 9:30am</td>
                        <td>
                          <h2><a href="#">Sed posuere mauris eget mauris pharetra sodales</a></h2>
                          <p>Nullam eu eros justo, a sollicitudin lectus. Sed placerat, sapien vitae vehicula sollicitudin, purus metus accumsan orci, vel congue lectus nunc vulputate diam. Cras lobortis urna et ligula interdum eget convallis tellus auctor. Nullam quis diam ligula, sit amet commodo mauris. Maecenas quis diam eros. Proin aliquet augue eget massa vestibulum elementum. Donec sit amet nunc id mi lacinia lacinia. Curabitur malesuada adipiscing dui quis rhoncus. Nunc vel orci odio, in commodo est. Curabitur posuere urna augue. In non eleifend diam. Proin non augue in quam porttitor ultricies et eu velit. Vestibulum augue risus, rutrum ullamcorper dictum nec, convallis vel turpis. Quisque scelerisque magna vitae elit mollis sit amet viverra dolor elementum. Phasellus nisi enim, lobortis nec euismod vel, viverra eget nibh.</p></td>
                        <td><a href="#">Vestibulum</a></td>
                        <td>
                          <p><strong>Total: </strong>5</p>
                          <p><strong>Last by: </strong><a href="#">Anton</a></p>
                        </td>
                      </tr>
                    </tbody>
                </table>